[submodule "mujoco_playground"]
	path = mujoco_playground
	url = https://github.com/google-deepmind/mujoco_playground.git
    ignore = dirty
[submodule "madrona_mjx"]
	path = madrona_mjx
	url = https://github.com/shacklettbp/madrona_mjx.git
    ignore = dirty
[submodule "lerobot-libero"]
	path = lerobot-libero
	url = https://github.com/huggingface/lerobot-libero.git
    ignore = dirty
[submodule "sam3"]
	path = sam3
	url = https://github.com/facebookresearch/sam3.git
    ignore = dirty
