[submodule "mujoco_playground"]
	path = mujoco_playground
	url = https://github.com/google-deepmind/mujoco_playground.git
    ignore = dirty
[submodule "madrona_mjx"]
	path = madrona_mjx
	url = https://github.com/shacklettbp/madrona_mjx.git
    ignore = dirty
[submodule "LIBERO"]
	path = LIBERO
	url = https://github.com/Lifelong-Robot-Learning/LIBERO.git
    ignore = dirty
