[submodule "mujoco_playground"]
	path = mujoco_playground
	url = https://github.com/google-deepmind/mujoco_playground.git
    ignore = dirty
[submodule "madrona_mjx"]
	path = madrona_mjx
	url = https://github.com/shacklettbp/madrona_mjx.git
    ignore = dirty
[submodule "lerobot-libero"]
	path = lerobot-libero
	url = https://github.com/huggingface/lerobot-libero.git
    ignore = dirty
[submodule "unifolm-world-model-action"]
	path = unifolm-world-model-action
	url = https://github.com/unitreerobotics/unifolm-world-model-action.git
    ignore = dirty
